html, body, #app, #app > div {
	height: 100%;
	font-size: 12px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.font-roboto, .font-roboto body {
	font-family: Roboto, sans-serif;
}


/**
 * ----------------------------------------------------------------------------
 * Main Layout
 * ----------------------------------------------------------------------------
 */

.columns {
	display: flex; flex-direction: row; height: calc(100% - 58px);
	&.hide-statusbar { height: calc(100% - 30px); }
	&.hide-console #splitter2 { display: none; }
	.column {
		display: flex; flex-direction: column; height: 100%;
		.column-head {
			display: block; height: 30px; user-select: none;
			strong { font-size: 14px; }
			.tab-labels .tab-label {
				line-height: 30px; height: 30px; display: inline-block; padding: 0 5px 0 10px; cursor: pointer; user-select: none;

				:hover { background-color: #8b8b8b40; }
				.icon-cancel { opacity: 0.8; }
				.icon-cancel:not(:hover) { opacity: 0.5; }
			}
		}
		.column-body { flex: 1 1 50%; }
	}
}

.main-rows {
	height: 100%; display:flex; flex-direction:column;
	.tab-bodies { flex: 1 1; }
}


/**
 * ----------------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------------------
 */

.button {
	display: inline-block; line-height: 30px; padding: 0 10px; 
	border-radius: 3px; font-weight: 500; cursor: pointer;
	user-select: none;
	&:hover { opacity: 0.1; }
}

