/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html, body, #app, #app > div {
  height: 100%;
  font-size: 12px;
}

.font-roboto, .font-roboto body {
  font-family: Roboto, sans-serif;
}

/**
 * ----------------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------------------
 */
.button {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  opacity: 0.7;
}

.buttons .button + .button {
  margin-left: 8px;
}

/**
 * ----------------------------------------------------------------------------
 * Main Layout
 * ----------------------------------------------------------------------------
 */
#main-menu {
  display: flex;
  padding: 5px;
  z-index: 99999999;
  position: sticky;
}
#main-menu * {
  user-select: none;
}
#main-menu:focus-visible {
  outline: 0;
}
#main-menu .menu-sub {
  display: none;
}
#main-menu .menu-item .menu-label {
  padding: 5px 6px;
  display: inline-block;
}
#main-menu .menu-item .menu-hotkey {
  opacity: 0.7;
}
#main-menu .menu-item:not(.is-disabled) .menu-label:hover {
  cursor: pointer;
}
#main-menu .menu-item.is-active:not(.is-disabled) {
  position: relative;
}
#main-menu .menu-item.is-active:not(.is-disabled) > .menu-sub {
  position: absolute;
  display: flex;
  min-width: 210px;
  z-index: 999;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
}
#main-menu .menu-item .menu-sub hr {
  height: 1px;
  border: 0;
  width: 100%;
}
#main-menu .menu-item.is-disabled {
  opacity: 0.4;
}
#main-menu i[class^=icon-] {
  font-size: 14px;
  vertical-align: text-bottom;
}

#menu-back-target {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 99999998;
}

/**
 * ----------------------------------------------------------------------------
 * Right Bar Container
 * ----------------------------------------------------------------------------
 */
.right-bar-container {
  display: flex;
  height: 100%;
}
.right-bar-container div {
  flex: 1;
}
.right-bar-container aside {
  width: 300px;
  background-color: var(--sidebarBackground);
  color: var(--sidebarText);
  margin-top: -5px;
  padding: 15px;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 88px);
}
.right-bar-container aside:not([data-title=""]):before {
  content: attr(data-title);
  position: absolute;
  display: inline-block;
  background-color: var(--sidebarBackground);
  left: 0;
  top: -30px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: var(--sidebarText);
}

.menu-entry {
  padding: 6px 16px 6px 24px;
}
.menu-entry:hover {
  cursor: pointer;
}
.menu-entry .menu-hotkey {
  text-align: right;
}
.menu-entry .menu-entry-label {
  display: flex;
  flex-direction: row;
  position: relative;
}
.menu-entry .menu-entry-label span + span {
  flex-grow: 1;
}
.menu-entry .menu-entry-label span:first-of-type {
  position: absolute;
  left: -20px;
}
.menu-entry.is-disabled .menu-entry-label {
  opacity: 0.5;
}
.menu-entry:not(.is-checked) .menu-entry-label span:first-of-type {
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 * Main Layout
 * ----------------------------------------------------------------------------
 */
.columns {
  display: flex;
  flex-direction: row;
  height: calc(100% - 58px);
}
.columns.hide-statusbar {
  height: calc(100% - 30px);
}
.columns.hide-console #splitter2 {
  display: none;
}
.columns .column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.columns .column .column-head {
  display: block;
  height: 30px;
  user-select: none;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}
.columns .column .column-head strong {
  font-size: 14px;
}
.columns .column .column-head.tab-labels .tab-label {
  line-height: 30px;
  height: 30px;
  display: inline-block;
  padding: 0 5px 0 10px;
  cursor: pointer;
  user-select: none;
}
.columns .column .column-head.tab-labels .tab-label .icon-cancel {
  opacity: 0.8;
}
.columns .column .column-head.tab-labels .tab-label .icon-cancel:not(:hover) {
  opacity: 0.5;
}
.columns .column .column-body {
  flex: 1 1 50%;
}
.columns .column .tab-bodies .tab-active {
  display: block;
  height: 100%;
}
.columns .column .tab-bodies .tab-inactive {
  display: none;
}

#sidebar {
  flex: 0 0 240px;
  min-width: 1px;
}
#sidebar .column-head {
  padding: 0 0 0 0;
  font-weight: 600;
  line-height: 30px;
}
#sidebar .column-head .tab-label {
  padding-left: 10px;
  padding-right: 10px;
}
#sidebar .tab-labels {
  display: flex;
  flex-direction: row;
}
#sidebar .tab-labels .buttons {
  flex-grow: 1;
  text-align: right;
}
#sidebar .tab-labels .buttons a {
  display: inline-block;
  padding: 0px 5px;
  height: 26px;
  line-height: 26px;
}
#sidebar .tab-labels .buttons a:hover {
  opacity: 0.6;
  cursor: pointer;
}
#sidebar .file-explorer-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 88px);
  margin-right: 0;
}
#sidebar .file-explorer-wrapper li {
  padding: 2px 0 0 2px;
}
#sidebar .file-explorer-wrapper li:hover:not(:has(li:hover)) > a {
  cursor: pointer;
}
#sidebar .file-explorer-wrapper li > a {
  line-height: 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: calc(100% - 1px);
  user-select: none;
}
#sidebar .file-explorer-wrapper li > a * {
  white-space: nowrap;
  pointer-events: none;
}
#sidebar .file-explorer-wrapper li > a > i {
  flex-shrink: 1;
  flex-basis: 16px;
  margin-left: 5px;
}
#sidebar .file-explorer-wrapper li > a > img {
  line-height: unset;
  flex: 0 0;
  flex-basis: 16px;
  margin: 0 8px 0 5px;
}
#sidebar .file-explorer-wrapper li > a > span {
  flex-shrink: 1;
}
#sidebar .file-explorer-wrapper li:not(.has-children) > a > i.icon-right-open {
  visibility: hidden;
}
#sidebar .file-explorer-wrapper li:not(.has-children) > a > i.file-icon {
  flex: 0 0;
  flex-basis: 16px;
  margin: 0 8px 0 5px;
}
#sidebar .file-explorer-wrapper li.has-children:not(.is-open) > ul {
  display: none;
}
#sidebar .file-explorer-wrapper li.is-open > a > i:before {
  content: "\e803";
}
#sidebar .file-explorer-wrapper li ul {
  margin-left: 19px;
}
#sidebar .file-creator, #sidebar .file-creator * {
  user-select: all !important;
  pointer-events: initial !important;
}
#sidebar .file-creator input {
  line-height: 18px;
  padding: 0px 5px;
  font-size: 12px;
  left: -5px;
  top: 2px;
  position: relative;
  min-width: 0;
}

#splitter {
  flex: 0 0 5px;
  margin-left: -5px;
  margin-top: 30px;
  cursor: ew-resize;
}

#splitter:hover {
  background: rgba(163, 163, 163, 0.7333333333) !important;
}

#splitter2 {
  flex: 0 0 5px;
  cursor: ns-resize;
  border-top: 1px solid;
  z-index: 1;
  width: calc(100% - 14px);
}

#splitter2:hover {
  background: rgba(163, 163, 163, 0.7333333333) !important;
}

#splitter3 {
  flex: 0 0 5px;
  margin-left: -5px;
  cursor: ew-resize;
  display: block;
  z-index: 8;
  margin-top: -5px;
}

#splitter3:hover {
  background: rgba(163, 163, 163, 0.7333333333) !important;
}

.columns.is-tracking .column, .columns.is-tracking .column * {
  user-select: none !important;
}

.columns.is-tracking .tab-bodies * {
  pointer-events: none;
}

#main {
  width: -webkit-fill-available;
  overflow: hidden;
}
#main .column-body {
  padding-top: 5px;
}
#main .column-body .main-rows {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main .column-body .main-rows .tab-bodies {
  flex: 1 1;
}
#main .xterm {
  padding: 8px;
}
#main #console {
  flex-grow: 0;
  flex-shrink: 1;
}
#main #console > div, #main #console .terminal {
  height: 100%;
}

/**
 * ----------------------------------------------------------------------------
 * Tool Bar
 * ----------------------------------------------------------------------------
 */
.toolbar-container {
  position: relative;
  height: 100%;
  padding-top: 1px;
}

.toolbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 2px;
  right: 2px;
  top: -3px;
  /* border-radius: 4px; */
}
.toolbar + div {
  margin-top: 31px;
}
.toolbar + section {
  margin-top: 30px;
  max-height: calc(100% - 30px) !important;
  position: absolute !important;
}
.toolbar, .toolbar * {
  user-select: none;
}
.toolbar .toolbar-fill {
  flex-grow: 1;
}
.toolbar .toolbar-end {
  padding-right: 5px;
}
.toolbar .toolbar-button {
  padding: 0 5px;
  line-height: 2.1em;
  display: inline-block;
  margin: 2px 0 2px 2px;
  border-radius: 3px;
  font-size: 14px;
}
.toolbar .toolbar-button:not(.is-disabled) {
  cursor: pointer;
}
.toolbar .toolbar-button.is-disabled {
  opacity: 0.5;
}
.toolbar .toolbar-label {
  padding: 5px 10px;
  display: inline-block;
}

/**
 * ----------------------------------------------------------------------------
 * Status Bar
 * ----------------------------------------------------------------------------
 */
#status-bar {
  height: 25px;
  padding: 6px 8px;
  border-top: 1px solid;
  user-select: none;
  position: relative;
}

.hide-statusbar #status-bar {
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 * Welcome Panel
 * ----------------------------------------------------------------------------
 */
.welcome-panel {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  gap: 40px;
}
.welcome-panel * {
  user-select: none;
}
.welcome-panel h3 {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid;
  margin-bottom: 8px;
  padding-bottom: 4px;
}
.welcome-panel ul {
  margin-bottom: 20px;
}
.welcome-panel ul li a {
  line-height: 20px;
}
.welcome-panel ul li a:not(:hover) {
  text-decoration: none;
}
.welcome-panel.is-hidden {
  display: none;
}
.welcome-panel > .column {
  flex-grow: 1;
  justify-content: center;
}
.welcome-panel .welcome-panel-left {
  align-items: flex-end;
}
.welcome-panel .welcome-panel-left .welcome-panel-inner {
  width: 240px;
  text-align: center;
}
.welcome-panel .welcome-panel-left .welcome-panel-inner h1 {
  font-size: 30px;
  font-weight: 600;
}
.welcome-panel .welcome-panel-left .welcome-panel-inner span {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}
.welcome-panel .welcome-panel-right .welcome-panel-inner {
  width: 240px;
}

/**
 * ----------------------------------------------------------------------------
 * Dialog Styles
 * ----------------------------------------------------------------------------
 */
.dialog-container {
  position: absolute;
  top: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 150ms, opacity 150ms linear;
}
.dialog-container.is-hidden {
  transition: visibility 300ms, opacity 300ms linear;
  visibility: hidden;
  opacity: 0;
}
.dialog-container.is-hidden {
  transition: opacity 100ms;
  opacity: 0;
}
.dialog-container p, .dialog-container h2, .dialog-container .setting-left, .dialog-container .setting-left * {
  user-select: none;
}
.dialog-container .setting-text-list.half-size.full {
  padding-right: 0 !important;
}
.dialog-container .dialog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  font-size: 1.4em;
  border-radius: 3px;
}
.dialog-container .dialog-close:hover {
  cursor: pointer;
}
.dialog-container .dialog {
  opacity: 1;
  border: 0px solid;
  border-radius: 5px;
  flex: 1;
  margin: auto;
  margin-top: 47px;
  position: relative;
  max-width: 900px;
  max-height: 100vh; /* min-height: 480px; */
}
.dialog-container .dialog:has(.new-game-dialog) {
  max-width: 500px;
}
.dialog-container .dialog > div {
  display: flex;
  max-height: 570px;
  max-width: 100%;
}
.dialog-container .dialog > div .dialog-sidebar {
  flex-basis: 200px;
  border-radius: 3px 0 0 3px;
  padding-top: 10px;
  border-radius: 5px 0 0 5px;
  border: 0px solid;
  border-right: 0;
  margin: 0;
}
.dialog-container .dialog > div .dialog-sidebar > div {
  padding: 10px;
}
.dialog-container .dialog > div .dialog-sidebar > div h2 {
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  opacity: 0.8;
  margin-bottom: 0.5em;
}
.dialog-container .dialog > div .dialog-sidebar > div li {
  padding: 7px 8px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 2px;
}
.dialog-container .dialog > div .dialog-main {
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}
.dialog-container .dialog > div .dialog-main .dialog-page {
  padding: 20px 0 0 20px;
  overflow-y: auto;
}
.dialog-container .dialog > div .dialog-main .dialog-page > .setting:first-of-type {
  border-top: 0;
}
.dialog-container .dialog > div .dialog-main .dialog-page h2 {
  font-size: 26px;
  margin: 5px 0 5px;
}
.dialog-container .dialog > div .dialog-main .dialog-page h2 + p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 19px;
}
.dialog-container .dialog > div .dialog-main .dialog-page.scrollable {
  height: calc(100% - 20px);
}

@media (min-width: 900px) {
  .dialog-container .dialog {
    max-width: max-content;
  }
}
@media (max-width: 900px) {
  .dialog-container .dialog > div {
    width: 100% !important;
  }
}
@media (max-width: 950px) {
  .dialog-container .dialog.stretch-height {
    max-width: calc(100vw - 36px);
  }
}
@media (max-height: 680px) {
  .dialog-container .dialog.stretch-height {
    height: calc(100vh - 70px);
    min-height: 0;
  }
  .dialog > div {
    height: 100%;
    min-height: 0 !important;
  }
}
/**
 *
 * Pick Image Dialog
 *
 */
.pick-image-dialog .list-box {
  margin: 20px 20px 0 0;
}
.pick-image-dialog .list-box select {
  width: 100%;
}

/**
 * ----------------------------------------------------------------------------
 * Dialog Setting Styles
 * ----------------------------------------------------------------------------
 */
.setting {
  display: flex;
  max-width: calc(100% - 20px);
  border-top: 1px solid;
  padding: 20px 0;
}
.setting .setting-left {
  flex: 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.setting .setting-left div {
  font-weight: 500;
  font-size: 15px;
}
.setting .setting-left small {
  opacity: 0.6;
  margin-top: 5px;
}
.setting .setting-left small:empty {
  display: none;
}
.setting .setting-right select {
  padding: 5px;
  min-width: 160px;
  border-radius: 5px;
}
.setting .setting-right input[type=text], .setting .setting-right input[type=number] {
  min-width: 160px;
}
.setting .setting-right input[type=text] {
  min-width: 50%;
}
.setting .setting-right input[type=color] {
  width: 27px;
}
.setting .setting-right.is-small input {
  min-width: 0;
  width: 90px;
}
.setting.half-size {
  width: calc(50% - 30px);
  float: left;
  padding-right: 20px;
}
.setting.stacked {
  flex-direction: column;
  gap: 10px;
}
.setting.half-size + .setting {
  width: calc(50% - 10px);
}
.setting.half-size + .setting + * {
  clear: left;
}
.setting.setting-buttons .button {
  padding: 2px 25px;
}

.setting.dual-input .setting-right input {
  min-width: 0;
  width: 90px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .setting.collapsible {
    flex-direction: column;
    gap: 10px;
  }
}
/**
 * ----------------------------------------------------------------------------
 * Input Styles
 * ----------------------------------------------------------------------------
 */
textarea.input, input[type=text].input, input[type=number].input {
  min-width: 160px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid;
  padding: 6px 8px;
}

.toggle-button {
  display: block;
  position: relative;
  width: 38px;
  height: 24px;
  border-radius: 12px;
  margin-left: 20px;
}
.toggle-button:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 200ms;
}
.toggle-button.is-toggled:before {
  left: 16px;
  transition: left 200ms;
}

.binary-report {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: "Consolas", cursive;
  tab-size: 20px;
  overflow: scroll;
  height: 335px;
  border: 3px solid;
  border-radius: 3px;
}

/**
 * ----------------------------------------------------------------------------
 * Style Editor
 * ----------------------------------------------------------------------------
 **/
.style-editor {
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 220px;
  height: 260px;
  border: 2px solid;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  transition: bottom 500ms;
}
.style-editor.is-shown {
  transition: bottom 250ms;
  bottom: -251px;
}
.style-editor.is-closed {
  transition: bottom 250ms;
  bottom: -500px;
}
.style-editor > div {
  position: relative;
}
.style-editor > div .icon-cancel {
  position: absolute;
  right: 0px;
  top: 0px;
}
.style-editor > div h4 {
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  margin-right: 20px;
}
.style-editor > div h4:hover {
  opacity: 0.7;
}
.style-editor > div h4 + div {
  margin-top: 10px;
  height: 235px;
  overflow-y: scroll;
}
.style-editor > div h4 + div label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.style-editor > div h4 + div label input {
  width: 25px;
  border: 0px;
}
.style-editor > div h4 + div label span {
  flex-grow: 1;
}

/**
 * ----------------------------------------------------------------------------
 * Context Menu
 * ----------------------------------------------------------------------------
 **/
.context-menu-container {
  position: absolute;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.context-menu-container .context-menu {
  position: absolute;
  width: 200px;
  border: 1px solid;
  z-index: 9999999;
  border-radius: 0;
  padding: 5px 0;
}
.context-menu-container .context-menu hr {
  border-top: 1px solid;
}

/**
 * ----------------------------------------------------------------------------
 * Scroll Bars
 * ----------------------------------------------------------------------------
 **/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-button:single-button {
  display: none;
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 13px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

/* special case for tab headers */
.columns .column .column-head::-webkit-scrollbar {
  width: 14px;
  height: 2px;
}

.columns .column .column-head::-webkit-scrollbar-button {
  height: 2px;
}

.tab-placeholder {
  width: 100%;
  text-align: center;
  margin-top: 4em;
}

.conversation-viewer {
  padding: 1px;
  overflow: auto;
  overflow-x: unset;
  width: 100%;
}

.conversation-entry {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  background: rgba(17, 17, 17, 0.3490196078);
  border-radius: 3px;
}
.conversation-entry.selected {
  outline: 2px solid #555;
}
.conversation-entry:focus-within {
  outline: 2px solid var(--activeBackground);
}
.conversation-entry:focus-within .moment-text {
  outline: none;
}
.conversation-entry[data-label]:not([data-label=""]) {
  margin-top: 30px;
  position: relative;
}
.conversation-entry[data-label]:not([data-label=""]):before {
  content: attr(data-label);
  position: absolute;
  top: -20px;
  opacity: 0.5;
}

.conversation-property {
  margin-top: 10px;
}
.conversation-property label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.conversation-property input {
  width: calc(100% - 20px);
}

.theme-is-light .conversation-entry {
  background-color: var(--sidebarBackground);
}

.moment-list {
  padding: 1px;
  /* height: calc(100vh - 126px); */
}
.moment-list .conversation-entry:last-of-type {
  margin-bottom: 10px;
}
.moment-list .moment-options:not(:empty) {
  margin-top: 10px;
}
.moment-list .moment-options .moment-option-wrap {
  display: flex;
  align-items: center;
}
.moment-list .moment-options .moment-option-wrap a {
  cursor: pointer;
}
.moment-list .moment-options .moment-option-wrap:has(a:hover) {
  opacity: 0.7;
}
.moment-list .moment-options .moment-option {
  line-height: 2em;
  padding-left: 5px;
}

.property-table .property-table-head,
.property-table .property-table-item {
  display: flex;
  gap: 5px;
  margin-top: 6px;
}
.property-table .property-table-head > div,
.property-table .property-table-item > div {
  width: calc(50% - 16px);
}
.property-table .property-table-head > div:last-of-type,
.property-table .property-table-item > div:last-of-type {
  display: flex;
  align-items: center;
}
.property-table .property-table-head > div:last-of-type a:hover,
.property-table .property-table-item > div:last-of-type a:hover {
  cursor: pointer;
  opacity: 0.6;
}
.property-table .property-table-head input,
.property-table .property-table-item input {
  width: 100%;
  box-sizing: border-box;
  min-width: 0 !important;
}

:root {
  color-scheme: dark;
  --menu-text: #fff;
  --menu-item-hover: #444;
  --menu-item-active: red;
  --menu-sub-bg: #3a3a3a;
  --menu-light-text: #000;
  --menu-light-item-hover: #fff;
  --menu-light-item-active: red;
  --menu-light-sub-bg: #fff;
}

.theme-is-light {
  color-scheme: light;
}

@keyframes dialogFadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7019607843);
  }
  90% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
    display: none;
  }
}
::-webkit-scrollbar-button {
  background: #2e2e2e;
}

::-webkit-scrollbar-track-piece {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-corner {
  background-color: #2e2e2e;
}

html {
  background-color: var(--mainBackground);
}

html, body, #app, #app > div {
  color: var(--mainText);
}

.button {
  background-color: #222;
  color: #ddd;
}
.button.primary {
  background: var(--activeBackground);
}

#menu-back-target {
  background: transparent;
}

#main-menu {
  background-color: var(--mainBackground);
  color: var(--mainText);
}
#main-menu .menu-item.is-active .menu-sub hr {
  border-top: 1px solid rgba(143, 143, 143, 0.3490196078);
}
#main-menu .menu-item.is-active > .menu-label {
  background: var(--mainBackgroundDark);
}
#main-menu .menu-item.is-active > .menu-sub {
  background: var(--menu-sub-bg);
  color: var(--menu-text);
}
#main-menu .menu-item:not(.is-disabled) .menu-label:hover {
  background: var(--mainBackgroundSemiDark);
}
#main-menu .menu-item .menu-label {
  background-color: var(--mainBackground);
  color: var(--mainText);
}

.menu-item[data-index="20"] > .menu-sub > .menu-entry:nth-of-type(21), .menu-item[data-index="19"] > .menu-sub > .menu-entry:nth-of-type(20), .menu-item[data-index="18"] > .menu-sub > .menu-entry:nth-of-type(19), .menu-item[data-index="17"] > .menu-sub > .menu-entry:nth-of-type(18), .menu-item[data-index="16"] > .menu-sub > .menu-entry:nth-of-type(17), .menu-item[data-index="15"] > .menu-sub > .menu-entry:nth-of-type(16), .menu-item[data-index="14"] > .menu-sub > .menu-entry:nth-of-type(15), .menu-item[data-index="13"] > .menu-sub > .menu-entry:nth-of-type(14), .menu-item[data-index="12"] > .menu-sub > .menu-entry:nth-of-type(13), .menu-item[data-index="11"] > .menu-sub > .menu-entry:nth-of-type(12), .menu-item[data-index="10"] > .menu-sub > .menu-entry:nth-of-type(11), .menu-item[data-index="9"] > .menu-sub > .menu-entry:nth-of-type(10), .menu-item[data-index="8"] > .menu-sub > .menu-entry:nth-of-type(9), .menu-item[data-index="7"] > .menu-sub > .menu-entry:nth-of-type(8), .menu-item[data-index="6"] > .menu-sub > .menu-entry:nth-of-type(7), .menu-item[data-index="5"] > .menu-sub > .menu-entry:nth-of-type(6), .menu-item[data-index="4"] > .menu-sub > .menu-entry:nth-of-type(5), .menu-item[data-index="3"] > .menu-sub > .menu-entry:nth-of-type(4), .menu-item[data-index="2"] > .menu-sub > .menu-entry:nth-of-type(3), .menu-item[data-index="1"] > .menu-sub > .menu-entry:nth-of-type(2), .menu-item[data-index="0"] > .menu-sub > .menu-entry:nth-of-type(1) {
  background: var(--activeBackground);
}

.columns .column .column-head {
  background-color: var(--mainBackground);
  color: var(--mainText);
}
.columns .column .column-head.tab-labels .tab-label:hover {
  background-color: rgba(139, 139, 139, 0.2509803922);
}

#splitter, #splitter2 {
  background: transparent;
}

#splitter2 {
  background-color: var(--terminalBackground);
  border-top-color: var(--footerBackgroundDark);
}

.file-explorer-wrapper li:hover:not(:has(li:hover)) > a {
  background-color: var(--hoverBackground);
  color: var(--hoverText);
}
.file-explorer-wrapper li:not(.has-children).is-active a {
  background-color: var(--activeBackground);
  color: var(--activeText);
}
.file-explorer-wrapper .is-context > a {
  outline: 1px solid #eee;
}

.welcome-panel {
  background: #000;
}
.welcome-panel h3 {
  color: #fff;
  border-bottom-color: #777;
}
.welcome-panel ul li a {
  color: orange;
}
.welcome-panel .welcome-panel-left .welcome-panel-inner h1 {
  color: #fff;
}
.welcome-panel .welcome-panel-left .welcome-panel-inner span {
  color: #777;
}

.dialog-container {
  background: rgba(0, 0, 0, 0.4196078431);
}
.dialog-container .dialog {
  background-color: #2c2c2c;
  border-color: #606060;
}
.dialog-container .dialog .dialog-close {
  background: rgba(44, 44, 44, 0.5019607843);
}
.dialog-container .dialog .dialog-close:hover {
  background: #111;
}
.dialog-container .dialog .dialog-sidebar {
  background-color: #3c3c3c;
  border-color: #606060;
}
.dialog-container .dialog .dialog-sidebar > div li {
  color: #fff;
}
.dialog-container .dialog .dialog-sidebar > div li:hover {
  background: #464646;
}
.dialog-container .dialog .dialog-sidebar > div li.is-active {
  background-color: var(--activeBackground);
}

.setting {
  border-top-color: #444;
}
.setting .setting-right select {
  border-color: #444;
}

textarea.input,
input[type=text].input,
input[type=number].input,
select {
  border-color: #444;
}

.toggle-button {
  background: #444;
}
.toggle-button:before {
  background: #fff;
}
.toggle-button.is-toggled {
  background: var(--activeBackground);
}

.style-editor {
  background: #444;
  border-color: #666;
}

.style-editor > div h4 {
  background: #444;
}

.style-editor > div h4 + div label input {
  background: transparent;
}

.style-editor > div h4 + div label input:focus-within {
  background: #333;
}

.binary-report {
  background: #333;
  border-color: #333;
}

#status-bar {
  background-color: var(--footerBackground);
  border-top-color: var(--footerBackgroundDark);
  color: var(--footerText);
}

#sidebar .column-head .tab-label {
  background: var(--sidebarBackground);
  color: var(--editorText);
}

#sidebar .column-body {
  background-color: var(--sidebarBackground);
  color: var(--sidebarText);
}

#main .column-body, .columns .column .column-head.tab-labels .tab-label.is-active {
  background-color: var(--editorBackground);
  color: var(--editorText);
}

#main #console {
  background: #0a0a0a;
}

.context-menu {
  background-color: var(--mainBackground);
  color: var(--menu-text);
  border-color: #999 !important;
}

textarea.input:focus, input[type=text].input:focus, input[type=number].input:focus, select:focus {
  outline: 1px solid var(--activeBackground);
}

.toolbar {
  border-bottom: 1px solid var(--footerBackground);
}

.toolbar .toolbar-button {
  color: var(--footerText);
}
.toolbar .toolbar-button:not(.is-disabled):hover {
  background: var(--hoverBackground);
  color: var(--hoverText);
}
.toolbar .toolbar-button:not(.is-disabled).active {
  background: var(--activeBackground);
  color: var(--activeText);
}

/**
 * ----------------------------------------------------------------------------
 * Light Mode
 * ----------------------------------------------------------------------------
 */
.theme-is-light ::-webkit-scrollbar-button {
  background: #ffffff;
}

.theme-is-light ::-webkit-scrollbar-track-piece {
  background: #ffffff;
}

.theme-is-light ::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

.theme-is-light ::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

.theme-is-light .button {
  background-color: var(--mainBackground);
  color: var(--mainText);
}

.theme-is-light .file-explorer-wrapper .is-context > a {
  outline: 1px solid #333;
}

.theme-is-light .welcome-panel {
  background-color: #fff;
}

.theme-is-light .welcome-panel h1, .theme-is-light .welcome-panel h3 {
  color: #333 !important;
}

.theme-is-light .dialog {
  background: white;
}

.theme-is-light .dialog .dialog-sidebar {
  background: var(--mainBackground);
  color: var(--mainText);
}

.theme-is-light .dialog-sidebar > div li:hover {
  background: var(--mainBackgroundSemiDark);
}

.theme-is-light .dialog-sidebar > div li.is-active {
  background: var(--mainBackgroundDark);
}

.theme-is-light .dialog .dialog-page {
  color: #333;
}

.theme-is-light .dialog select,
.theme-is-light input {
  background: #fff;
  color: #333;
  border-color: rgba(0, 0, 0, 0.1882352941);
}

.theme-is-light pre {
  background: #eee;
  border-color: #aaa;
}

.theme-is-light .setting {
  border-top: 1px solid rgba(0, 0, 0, 0.1254901961);
}

.theme-is-light #main-menu .menu-item:not(.is-disabled) .menu-label:hover {
  cursor: pointer;
  background: var(--mainBackgroundSemiDark);
}

.theme-is-light #main-menu .menu-item.is-active > .menu-label {
  background: var(--mainBackgroundDark);
}

.theme-is-light #main-menu .menu-item.is-active > .menu-sub {
  background: var(--menu-light-sub-bg);
  color: var(--menu-light-text);
  box-shadow: 1px 1px 5px rgba(143, 143, 143, 0.1882352941);
}

/* here */
/* .theme-is-light .menu-entry:hover { background: var(--accent); color: var(--menu-light-item-hover); } */
.theme-is-light .menu-item[data-index="20"] > .menu-sub > .menu-entry:nth-of-type(21), .theme-is-light .menu-item[data-index="19"] > .menu-sub > .menu-entry:nth-of-type(20), .theme-is-light .menu-item[data-index="18"] > .menu-sub > .menu-entry:nth-of-type(19), .theme-is-light .menu-item[data-index="17"] > .menu-sub > .menu-entry:nth-of-type(18), .theme-is-light .menu-item[data-index="16"] > .menu-sub > .menu-entry:nth-of-type(17), .theme-is-light .menu-item[data-index="15"] > .menu-sub > .menu-entry:nth-of-type(16), .theme-is-light .menu-item[data-index="14"] > .menu-sub > .menu-entry:nth-of-type(15), .theme-is-light .menu-item[data-index="13"] > .menu-sub > .menu-entry:nth-of-type(14), .theme-is-light .menu-item[data-index="12"] > .menu-sub > .menu-entry:nth-of-type(13), .theme-is-light .menu-item[data-index="11"] > .menu-sub > .menu-entry:nth-of-type(12), .theme-is-light .menu-item[data-index="10"] > .menu-sub > .menu-entry:nth-of-type(11), .theme-is-light .menu-item[data-index="9"] > .menu-sub > .menu-entry:nth-of-type(10), .theme-is-light .menu-item[data-index="8"] > .menu-sub > .menu-entry:nth-of-type(9), .theme-is-light .menu-item[data-index="7"] > .menu-sub > .menu-entry:nth-of-type(8), .theme-is-light .menu-item[data-index="6"] > .menu-sub > .menu-entry:nth-of-type(7), .theme-is-light .menu-item[data-index="5"] > .menu-sub > .menu-entry:nth-of-type(6), .theme-is-light .menu-item[data-index="4"] > .menu-sub > .menu-entry:nth-of-type(5), .theme-is-light .menu-item[data-index="3"] > .menu-sub > .menu-entry:nth-of-type(4), .theme-is-light .menu-item[data-index="2"] > .menu-sub > .menu-entry:nth-of-type(3), .theme-is-light .menu-item[data-index="1"] > .menu-sub > .menu-entry:nth-of-type(2), .theme-is-light .menu-item[data-index="0"] > .menu-sub > .menu-entry:nth-of-type(1) {
  background: var(--accent);
  color: var(--menu-light-item-hover);
}

.theme-is-light #main-menu .menu-item.is-active .menu-sub hr {
  border-top: 1px solid rgba(143, 143, 143, 0.3490196078);
}

.theme-is-light .style-editor {
  background: var(--mainBackground);
  border-color: var(--mainBackgroundSemiDark);
  color: var(--mainText);
}

.theme-is-light .style-editor h4 {
  background: var(--mainBackground);
}

.theme-is-light .context-menu {
  background: var(--menu-light-sub-bg);
  color: var(--menu-light-text);
  box-shadow: 1px 1px 5px #8f8f8f;
}

.theme-is-light .context-menu hr {
  border-top-color: #8f8f8f;
}

.theme-is-light textarea.input,
.theme-is-light input[type=text].input,
.theme-is-light input[type=number].input,
.theme-is-light select {
  border-color: #444;
}

/*# sourceMappingURL=app.css.map */
