:root {
	color-scheme: dark;
	--menu-text: #fff;
   --menu-item-hover: #444;
   --menu-item-active: red;
   --menu-sub-bg: #3a3a3a;
   --menu-light-text: #000;
   --menu-light-item-hover: #fff;
   --menu-light-item-active: red;
   --menu-light-sub-bg: #fff;
}

.theme-is-light {
	color-scheme: light;
}


@keyframes dialogFadeOut {
	0% { background: #000000b3; }
	90% { background: #00000000; }
	100% { background: #00000000; display: none; }
}



::-webkit-scrollbar-button { background: #2e2e2e; }
::-webkit-scrollbar-track-piece { background: #2e2e2e; }
::-webkit-scrollbar-thumb { background: #424242; }
::-webkit-scrollbar-corner { background-color: #2e2e2e; }



html { background-color: var(--mainBackground); }
html, body, #app, #app > div { color: var(--mainText); }



.button {
	background-color: #222; color: #ddd;
	&.primary { background: var(--activeBackground); }
}



#menu-back-target { background: transparent; }
#main-menu {
	background-color: var(--mainBackground); color: var(--mainText);
	.menu-item {
		&.is-active {
			.menu-sub hr { border-top: 1px solid #8f8f8f59; }
			& > .menu-label { background: var(--mainBackgroundDark); }
			& > .menu-sub { background: var(--menu-sub-bg); color: var(--menu-text); }
		}
		&:not(.is-disabled) .menu-label:hover { background: var(--mainBackgroundSemiDark); }
		.menu-label { background-color: var(--mainBackground); color: var(--mainText); }
	}
}
.menu-entry:not(.is-disabled):hover { background: var(--activeBackground); }



.columns .column .column-head {
	background-color: var(--mainBackground); color: var(--mainText);
	&.tab-labels .tab-label:hover { background-color: #8b8b8b40; }
}



#splitter, #splitter2 { 
	background: transparent;
}
#splitter2{
	background-color: var(--terminalBackground);
	border-top-color: var(--footerBackgroundDark);
}


.file-explorer-wrapper {
	li:hover:not(:has(li:hover)) > a { background-color: var(--hoverBackground); color: var(--hoverText); }
	li:not(.has-children).is-active a { background-color: var(--activeBackground); color: var(--activeText); }
	.is-context > a { outline: 1px solid #eee; }
}



.welcome-panel {
	background: #000;
	h3 { color: #fff; border-bottom-color: #777; }
	ul li a { color: orange; }
	.welcome-panel-left .welcome-panel-inner h1 { color: #fff; }
	.welcome-panel-left .welcome-panel-inner span { color: #777; }
}



.dialog-container {
	background: #0000006b; 
	.dialog {
		background-color: #2c2c2c; border-color: #606060;

		.dialog-close {
			background: #2c2c2c80;
			&:hover { background: #111; }
		}

		.dialog-sidebar {
			background-color: #3c3c3c; border-color: #606060;
			& > div li { 
				color: #fff;
				&:hover { background:#464646; }
				&.is-active { background-color: var(--activeBackground); }
			}
		}
	}
}



.setting {
	border-top-color: #444;
	.setting-right select { border-color: #444; }
}



input[type='text'].input, 
input[type='number'].input,
select { border-color: #444; }



.toggle-button {
	background: #444;
	&:before { background: #fff; }
	&.is-toggled { background: var(--activeBackground); }
}



.style-editor { background: #444; border-color: #666; }
.style-editor > div h4 { background: #444; }
.style-editor > div h4 + div label input { background:transparent; }
.style-editor > div h4 + div label input:focus-within { background: #333; }
.binary-report { background: #333; border-color: #333; }



#status-bar { background-color: var(--footerBackground); border-top-color: var(--footerBackgroundDark); color: var(--footerText); }
#sidebar .column-head .tab-label { background: var(--sidebarBackground); color: var(--editorText); }
#sidebar .column-body {	background-color: var(--sidebarBackground); color: var(--sidebarText); }
#main .column-body, .columns .column .column-head.tab-labels .tab-label.is-active { background-color: var(--editorBackground); color: var(--editorText); }
#main #console { background: #0a0a0a; }
.context-menu { background-color: var(--mainBackground); color: var(--menu-text); border-color: #999!important; }
input[type='text'].input:focus, input[type='number'].input:focus, select:focus { outline:1px solid var(--activeBackground); }

.toolbar { border-bottom: 1px solid var(--footerBackground); }
.toolbar .toolbar-button {
	color: var(--footerText);
	&:not(.is-disabled) {
		&:hover { background: var(--hoverBackground); color: var(--hoverText); }
		&.active { background: var(--activeBackground); color: var(--activeText); }
	}
}



/**
 * ----------------------------------------------------------------------------
 * Light Mode
 * ----------------------------------------------------------------------------
 */



.theme-is-light ::-webkit-scrollbar-button {	background: #ffffff; }
.theme-is-light ::-webkit-scrollbar-track-piece { background: #ffffff; }
.theme-is-light ::-webkit-scrollbar-thumb { background: #c2c2c2; }
.theme-is-light ::-webkit-scrollbar-corner { background-color: #ffffff; }
.theme-is-light .button { background-color: var(--mainBackground); color: var(--mainText) };
.theme-is-light .file-explorer-wrapper .is-context > a { outline: 1px solid #333; }
.theme-is-light .welcome-panel { background-color:#fff; }
.theme-is-light .welcome-panel h1, .theme-is-light .welcome-panel h3 {color: #333!important;}
.theme-is-light .dialog { background:white; }
.theme-is-light .dialog .dialog-sidebar { background:var(--mainBackground); color: var(--mainText) }
.theme-is-light .dialog-sidebar > div li:hover { background:var(--mainBackgroundSemiDark); }
.theme-is-light .dialog-sidebar > div li.is-active { background:var(--mainBackgroundDark);  }
.theme-is-light .dialog .dialog-page {color: #333; }
.theme-is-light .dialog select,
.theme-is-light input { background: #fff; color:#333; border-color: #00000030; }
.theme-is-light pre { background:#eee; border-color:#aaa; }
.theme-is-light .setting { border-top: 1px solid #00000020; }
.theme-is-light #main-menu .menu-item:not(.is-disabled) .menu-label:hover { cursor:pointer; background: var(--mainBackgroundSemiDark); }
.theme-is-light #main-menu .menu-item.is-active > .menu-label { background: var(--mainBackgroundDark); }
.theme-is-light #main-menu .menu-item.is-active > .menu-sub { background: var(--menu-light-sub-bg); color: var(--menu-light-text); box-shadow: 1px 1px 5px #8f8f8f30; }
.theme-is-light .menu-entry:hover { background: var(--accent); color: var(--menu-light-item-hover); }
.theme-is-light #main-menu .menu-item.is-active .menu-sub hr { border-top: 1px solid #8f8f8f59; }
.theme-is-light .style-editor { background: var(--mainBackground); border-color: var(--mainBackgroundSemiDark); color: var(--mainText) }
.theme-is-light .style-editor h4 { background: var(--mainBackground); }
.theme-is-light .context-menu { background: var(--menu-light-sub-bg); color: var(--menu-light-text); box-shadow: 1px 1px 5px #8f8f8f; }
.theme-is-light .context-menu hr { border-top-color: #8f8f8f; }


.theme-is-light input[type='text'].input, 
.theme-is-light input[type='number'].input,
.theme-is-light select {
	border-color: #444;
}