html, body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; }
html, body, #app, #app > div { height: 100%; font-size: 12px; }

.font-roboto, .font-roboto body { font-family: Roboto, sans-serif; }


/**
 * ----------------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------------------
 */


.button {
	display: inline-block; line-height: 30px; padding: 0 10px;
	border-radius: 3px; font-weight: 500; cursor: pointer; user-select: none;
	&:hover { opacity: 0.7; }
}
.buttons .button + .button { margin-left: 8px; }


/**
 * ----------------------------------------------------------------------------
 * Main Layout
 * ----------------------------------------------------------------------------
 */


#main-menu {
	display:flex; padding: 5px; z-index: 99999999; position: sticky;

	* { user-select: none; }
	&:focus-visible { outline:0; }

	.menu-sub { display: none; }

	.menu-item {
		.menu-label { padding: 5px 6px; display:inline-block; }
		.menu-hotkey { opacity: 0.7; }

		&:not(.is-disabled) { 
			.menu-label:hover { cursor:pointer; }
		}
		&.is-active { 
			position: relative;
			& > .menu-sub {
				position: absolute; display: flex; min-width: 210px; z-index: 999;
				flex-direction: column; border-radius: 0 0 5px 5px; padding: 5px 0;
			}
			.menu-sub hr { height: 1px; border: 0; width: 100%; }
		}
		&.is-disabled { opacity: 0.4; }
	}

	i[class^="icon-"] { font-size: 14px; vertical-align: text-bottom; }
}
#menu-back-target { position: absolute; height: 100vh; width: 100%; z-index: 99999998; }


.menu-entry {
	padding: 6px 16px 6px 24px;
	&:hover { cursor:pointer; }
	.menu-hotkey { text-align:right; }
	.menu-entry-label {
		display:flex; flex-direction:row; position:relative;
		span + span { flex-grow:1; }
		span:first-of-type { position: absolute; left:-20px; }
	}
	&.is-disabled .menu-entry-label { opacity: 0.5; }
	&:not(.is-checked) .menu-entry-label span:first-of-type { display:none; }
}


/**
 * ----------------------------------------------------------------------------
 * Main Layout
 * ----------------------------------------------------------------------------
 */


.columns {
	display: flex; flex-direction: row; height: calc(100% - 58px);
	&.hide-statusbar { height: calc(100% - 30px); }
	&.hide-console #splitter2 { display: none; }
	.column {
		display: flex; flex-direction: column; height: 100%;
		.column-head {
			display: block; height: 30px; user-select: none;

			strong { font-size: 14px; }

			&.tab-labels {
				.tab-label {
					line-height: 30px; height: 30px; display: inline-block; 
					padding: 0 5px 0 10px; cursor: pointer; user-select: none; 
					.icon-cancel { opacity: 0.8; }
					.icon-cancel:not(:hover) { opacity: 0.5; }
				}
			}
		}
		.column-body { flex: 1 1 50%; }
		.tab-bodies .tab-active { display: block; height: 100%; }
		.tab-bodies .tab-inactive { display: none; }
	}
}


// ---- Sidebar ----

#sidebar {
	flex: 0 0 240px; min-width: 1px;
	.column-head {
		padding: 0 0 0 0; font-weight: 600; line-height: 30px;
		.tab-label { padding-left: 10px; padding-right: 10px; }
	}
	.tab-labels {
		display:flex; flex-direction:row;
		.buttons {
			flex-grow: 1;text-align:right;
			a {display:inline-block;padding: 0px 5px;height: 26px;line-height: 26px;}
			a:hover { opacity:0.6; cursor:pointer; }
		}
	}

	.file-explorer-wrapper {
		overflow-y: auto; overflow-x: hidden; height: calc(100vh - 88px);	margin-right: 0;

		li {
			padding: 2px 0 0 2px;
			&:hover:not(:has(li:hover)) > a { cursor: pointer; }
			& > a {
				line-height: 24px; display: flex; align-items: center; overflow: hidden; max-width: calc(100% - 1px); user-select:none;
				* { white-space: nowrap; pointer-events:none; }
				& > i { flex-shrink: 1; flex-basis: 16px; margin-left: 5px; }
				& > img {line-height: unset;flex: 0 0;flex-basis: 16px; margin: 0 8px 0 5px; }
				& > span { flex-shrink: 1; }
			}

			&:not(.has-children) > a {
				& > i.icon-right-open { visibility: hidden; }
				& > i.file-icon  { flex: 0 0;flex-basis: 16px; margin: 0 8px 0 5px; }
			}

			&.has-children:not(.is-open) > ul { display:none; }
			&.is-open > a > i:before { content: '\e803'; }
			ul { margin-left: 19px; }
		}
	}

	.file-creator, .file-creator * { user-select: all!important; pointer-events: initial!important; }
	.file-creator input { line-height: 18px; padding: 0px 5px; font-size: 12px; left: -5px; top: 2px; position: relative; min-width: 0; }
}


// ---- Splitters ----

#splitter { flex: 0 0 5px; margin-left: -5px; margin-top: 30px; cursor: ew-resize; }
#splitter2 { flex: 0 0 5px; cursor: ns-resize; }
.columns.is-tracking .column, .columns.is-tracking .column * { user-select: none!important; }
.columns.is-tracking .tab-bodies * { pointer-events:none; }

// ---- Main Area ----

#main {
	width: -webkit-fill-available;	overflow: hidden;
	.column-body {
		padding-top: 5px;
		.main-rows {
			height: 100%; display:flex; flex-direction:column;
			.tab-bodies { flex: 1 1; }
		}
	}

	.xterm { padding: 8px; }
	#console { 
		flex-grow: 0; flex-shrink: 1; border-top: 1px solid;
		& > div, .terminal { height: 100%; }
	}
}


/**
 * ----------------------------------------------------------------------------
 * Tool Bar
 * ----------------------------------------------------------------------------
 */


.toolbar-container {
	position: relative;
	height: 100%;
	padding-top: 1px;
}
.toolbar {
	position: absolute;
   left: 2px;
   right: 2px;
   top: -3px;
   /* border-radius: 4px; */
	& + div { margin-top: 31px; }
	& + section { margin-top: 31px; max-height: calc(100% - 31px)!important; position: absolute!important; }
	&, & * { user-select: none; }
	.toolbar-button {
		padding: 0 5px;
		line-height: 2.1em;
		display: inline-block;
		margin: 2px 0 2px 2px;
		border-radius: 3px;
		font-size: 14px;
		&:not(.is-disabled) { cursor: pointer; }
		&.is-disabled { opacity: 0.5; }
	}
 }


/**
 * ----------------------------------------------------------------------------
 * Status Bar
 * ----------------------------------------------------------------------------
 */


#status-bar { height: 25px; padding: 6px 8px; border-top: 1px solid; user-select: none; position: relative; }
.hide-statusbar #status-bar { display: none; }


/**
 * ----------------------------------------------------------------------------
 * Welcome Panel
 * ----------------------------------------------------------------------------
 */


.welcome-panel {
	position: absolute; top: 0; z-index: 100; width: 100%; height: 100%; gap: 40px;
	* { user-select: none; }
	h3 { font-size: 15px; font-weight: 600; border-bottom: 1px solid; margin-bottom: 8px; padding-bottom: 4px; }
	ul {
		margin-bottom: 20px;
		li {
			a { line-height: 20px; }
			a:not(:hover) { text-decoration: none; }
		}
	}
	&.is-hidden { display: none; }
	& > .column { flex-grow: 1; justify-content: center; }

	.welcome-panel-left {
		align-items: flex-end;
		.welcome-panel-inner {
			width: 240px; text-align: center;
			h1 { font-size: 30px; font-weight: 600; }
			span { font-size: 15px; font-weight: 600; margin-bottom: 20px; display: block; }
		}
	}
	.welcome-panel-right {
		.welcome-panel-inner { width: 240px; }
	}
}


/**
 * ----------------------------------------------------------------------------
 * Dialog Styles
 * ----------------------------------------------------------------------------
 */


.dialog-container {
	position: absolute; top: 0; z-index: 99999999; width: 100%; height: 100%; 
	display: flex; visibility: visible; opacity: 1; transition: visibility 150ms, opacity 150ms linear;

	&.is-hidden { transition: visibility 300ms, opacity 300ms linear; visibility: hidden; opacity: 0; }
	&.is-hidden { transition: opacity 100ms; opacity: 0; }
	p, h2, .setting-left, .setting-left * { user-select: none; }

	.dialog-close {
		position: absolute; top: 20px; right: 20px;
		height: 24px;
		width: 24px;
		line-height: 24px;
		text-align: center;
		border-radius: 3px;
		font-size: 1.4em;
		border-radius: 3px;
		&:hover { cursor: pointer; }
	}

	.dialog {
		opacity: 1; border: 0px solid; border-radius: 5px; flex: 1; margin: auto; margin-top: 47px;
		position: relative; max-width: 900px; max-height: 100vh; /* min-height: 480px; */

		&:has(.new-game-dialog) {	max-width:500px; }
		& > div {
			display: flex; max-height: 570px; max-width: 100%;

			.dialog-sidebar {
				flex-basis: 200px; border-radius: 3px 0 0 3px; padding-top: 10px; border-radius:5px 0 0 5px; border: 0px solid; border-right: 0; margin: 0;
				& > div {
					padding:10px;
					h2 { font-size: 15px; font-weight: 500; padding: 5px; opacity: 0.8; margin-bottom:.5em; }
					li {padding: 7px 8px; cursor: pointer;  border-radius: 3px; margin-bottom:2px; }
				}
			}

			.dialog-main { 
				overflow: hidden;width: 100%;border-radius: 5px;
				.dialog-page {
					padding: 20px 0 0 20px; height: calc(100% - 20px); overflow-y: auto;
					& > .setting:first-of-type { border-top:0; }
					h2 {font-size: 26px;margin: 5px 0 5px;}
					h2 + p { margin-bottom:20px; font-size: 14px; line-height: 19px; }
				}
			}
		}
	}
}

@media (min-width:900px) { .dialog-container .dialog { max-width: max-content; } }
@media (max-width:900px) { .dialog-container .dialog > div { width: 100%!important; } }
@media (max-width:950px) { .dialog-container .dialog { max-width: calc(100vw - 36px); } }
@media (max-height:680px) {
  .dialog-container .dialog { height: calc(100vh - 70px); min-height: 0; } 
  .dialog > div { height: 100%; min-height: 0!important; }
}


/**
 * ----------------------------------------------------------------------------
 * Dialog Setting Styles
 * ----------------------------------------------------------------------------
 */


.setting {
	display: flex; max-width:calc(100% - 20px); border-top: 1px solid; padding: 20px 0;
	.setting-left {
		flex: 1 0;
		display: flex; justify-content: center; flex-direction: column;
		div {font-weight: 500; font-size: 15px; }
		small { opacity: 0.6; margin-top: 5px; }
		small:empty { display: none; }
	}
	.setting-right {
		select { padding: 5px; min-width: 160px; border-radius: 5px; }
		input[type='text'], input[type='number'] { min-width: 160px; }
		input[type='text'] { min-width: 50%; }
		input[type='color'] { width:27px; }
		&.is-small input { min-width:0; width: 90px; }
	}
	&.half-size { 
		width: calc(50% - 30px); float: left; padding-right: 20px;
	}
	&.stacked {
		flex-direction: column;
		gap: 10px;
	}
	&.half-size + .setting { width: calc(50% - 10px); }
	&.half-size + .setting + * {clear:left;}
	&.setting-buttons .button { padding: 2px 25px; }
}
.setting.dual-input {
	.setting-right {
		input { min-width:0; width: 90px; margin-left: 10px; }
	}
}
@media (max-width:800px) {
	.setting.collapsible {
		flex-direction: column;
		gap: 10px;
	}
}

/**
 * ----------------------------------------------------------------------------
 * Input Styles
 * ----------------------------------------------------------------------------
 */


input[type='text'].input, input[type='number'].input { 
	min-width: 160px; border-radius: 5px; box-shadow: none; border: 1px solid; padding: 6px 8px;
}

.toggle-button {
	display: block; position: relative; width: 38px; height: 24px; border-radius: 12px; margin-left: 20px;
	&:before { content: ''; display: block; width: 20px; height: 20px; border-radius: 12px; position: absolute; top: 2px; left: 2px; transition: left 200ms; }
	&.is-toggled:before { left: 16px; transition: left 200ms; }
}

.binary-report {  margin-top: 20px; padding: 10px; font-size: 14px; font-family: 'Consolas', cursive; tab-size: 20px; overflow: scroll; height: 335px; border: 3px solid; border-radius: 3px; }


/**
 * ----------------------------------------------------------------------------
 * Style Editor
 * ----------------------------------------------------------------------------
 **/


.style-editor {
	z-index: 999; position: absolute; bottom: 0; right: 30px; width: 220px; height: 260px; border: 2px solid; border-bottom: 0; border-radius: 10px 10px 0 0; padding: 15px; transition: bottom 500ms;
	&.is-shown { transition: bottom 250ms; bottom: -251px; }
	&.is-closed { transition: bottom 250ms; bottom: -500px; }
	& > div {
		position: relative;
		.icon-cancel { position: absolute; right: 0px; top: 0px; }
		h4 {
			font-size: 14px; font-weight:500; user-select: none; margin-right: 20px;
			&:hover { opacity: 0.7; }
		}
		h4 + div {
			margin-top: 10px; height: 235px; overflow-y: scroll;
			label {
				display: flex;flex-direction: row;align-items: center; margin-right:5px;
				input { width: 25px; border:0px; }
				span { flex-grow: 1; }
			}
		}
	}
}


/**
 * ----------------------------------------------------------------------------
 * Context Menu
 * ----------------------------------------------------------------------------
 **/


.context-menu-container {
	position: absolute; z-index: 999999999; top: 0; left: 0; width: 100%; height: 100%;
	.context-menu { 
		position: absolute; width: 200px; border: 1px solid; z-index: 9999999; border-radius: 0; padding: 5px 0;
		hr { border-top: 1px solid; }
	}
}


/**
 * ----------------------------------------------------------------------------
 * Image Viewer
 * ----------------------------------------------------------------------------
 **/


.image-viewer {
	height: calc(100vh - 265px); overflow-y: scroll; overflow-x: auto; padding: 15px;
}


/**
 * ----------------------------------------------------------------------------
 * Scroll Bars
 * ----------------------------------------------------------------------------
 **/

::-webkit-scrollbar { width: 14px; height: 14px; }
::-webkit-scrollbar-button:single-button { display:none; }
::-webkit-scrollbar-button { 
	width: 10px; height: 13px; background-size: 10px 10px; height: 13px;
	background-repeat: no-repeat; background-position: center center; width: 10px;
}